html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 720px;
}

.hero {
  background-color: #1F2937;
  color: #e5e7eb;
  padding: 16px;
}
.header {
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.navigation {
  display: flex;
  gap: 20px;
  font-size: 18px;
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content p {
  font-size: 18px;
}

.content h1 {
  font-size: 48px;
}

.content .text {
  max-width: 400px;
}

.content img {
  width: 400px;
  height: 200px;
  background-color: #6d747d;
}

.hero h1 {
  color: #f9faf8;
}

.second {
  display: flex;
  flex-direction: column;
}

.second h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;

}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info img {
  height: 100px;
  width: 100px;
  border: solid 5px;
  border-color: #3882f6;
  border-radius: 20px;
}

.info p {
  max-width: 200px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quote .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote p {
  max-width: 720px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote h5 {
  font-style: bold;
  font-size: 24px;
  align-self: flex-end;
}
